*.cmake
*.dSYM
*.la
*.lo
*.log
*.o
*.plist
*.scan
*.status
*.tar.*
*~
.DS_Store
.deps
.done
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
man/*.html
man/Makefile.in
missing
src/curvecp/curvecpclient
src/curvecp/curvecpmakekey
src/curvecp/curvecpmessage
src/curvecp/curvecpprintkey
src/curvecp/curvecpserver
src/libsodium/*.def
stamp-*
test/*
test-driver
testing
AUTHORS
autogen.sh
ChangeLog
configure.ac
COPYING
dist-build/*
m4/*
Makefile.am
NEWS
README
THANKS
